.Repeater-ButtonBar button:not(:last-child) {
    margin-right: 15px;
}

.Repeater {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Repeater-Button {
    flex-direction: column;
}

@media (min-width: 800px) {
    .Repeater-Button {
        height: 50px !important;
    }
    .Repeater-ButtonBar {
       margin-bottom: 30px;
    }
    .Repeater-Label {
        padding-top: 7px;
        padding-bottom: 30px;
    }
}

@media (max-width: 800px) {
    .Repeater {
        flex-direction: column;
    }

    .Repeater-ButtonBar button {
        margin-top: 10px;
    }

    .Repeater-Button-Keyboard {
        display: none;
    }
}


.Repeater-Button-Keyboard {
    color: #8b8b8b;
}

.Repeater-Button-Keyboard-Shortcut {
    margin-top: 5px;
    margin-right: 5px;
}

