.NoteMarkdownSectionEditor {
    padding: 10px 0 10px 0;
    min-height: 100px;
}

.NoteMarkdownSectionEditor-Header {
    margin-bottom: 0.25rem !important;
}

.NoteMarkdownSectionEditor input[type="checkbox"] {
    margin-right: 8px;
}

.NoteMarkdownSectionEditor-Delete {
    margin-left: 8px;
}
