<html>
<head>
    {% include "partial_head.jinja.html" %}

    <title>Mind Palace</title>
</head>

<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url('home') }}">
            MindPalace
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url('home') }}">
                <span style="margin-right: 5px;" class="icon"><i class="fas fa-home"></i></span>
                Home
            </a>
            <a class="navbar-item" href="{{ url('repeat') }}">
                <span style="margin-right: 5px;" class="icon"><i class="fas fa-stopwatch"></i></span>
                Repeat
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="{{ url('logout') }}">
                        Log Out
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

</body>

