<html>
<head>
    {% include "partial_head.jinja.html" %}

    <title>Mind Palace</title>
</head>

<body>

<nav class="Nav" role="navigation" aria-label="main navigation">
    <div class="Nav-Brand">
        <a href="{{ url('home') }}">
            <span class="NavIcon icon"><i class="fas fa-brain"></i></span>
            <span class="NavText">
                <b>MindPalace</b>
            </span>
        </a>
    </div>

    <div>
        <a href="{{ url('repeat') }}">
            <span class="NavIcon icon"><i class="fas fa-stopwatch"></i></span>
            <span class="NavText">
                Repeat
                {%  if fm %}
                    {%  if fm.total_active > 0 %}
                    <span class="tag is-danger">{{ fm.total_active }}</span>
                    {%  endif %}
                {%  endif %}
            </span>
        </a>
    </div>

    <div class="Nav-Grow">
        <form method="get" autocomplete="on" class="form-inline" action="{{ url('search') }}">
            <input type="text" name="q" value="{% if q_search %}{{ q_search }}{% endif %}"
                   class="input"
                   id="id_search"
                   placeholder="Search">
        </form>
    </div>

    <div class="Nav-Grow"></div>

    <div>
        <a class="button is-info" href="{{ url('logout') }}">
            <i class="fas fa-sign-out-alt"></i>
            <span style="margin-left: 5px;" class="NavText">
                Sign Out
            </span>
        </a>
    </div>
</nav>

{% block content %}{% endblock %}

</body>

