{% extends "base_internal.jinja.html" %}

{% block content %}

    <section>
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url('home') }}">
                        <span style="margin-right: 5px;" class="icon"><i class="fas fa-home"></i></span>
                        Home
                    </a></li>
                    <li><a href="{{ url('list_collection', args=[collection.id]) }}">
                        <span style="margin-right: 5px;" class="icon"><i class="fas fa-book"></i></span>
                        {{ collection.name }}
                    </a></li>
                    <li><a href="{{ url('view_note', args=[note.id]) }}">
                        <span style="margin-right: 5px;" class="icon"><i class="fas fa-sticky-note"></i></span>
                        {{ note.name_or_untitled }}
                    </a></li>
                    <li class="is-active"><a href="#" aria-current="page">Edit</a></li>
                </ul>
            </nav>


            <div class="columns" style="margin-bottom: 10px;">
                <div class="column" id="EditNotePage">

                </div>
            </div>
        </div>
    </section>

    <script>
        window.mpReact.mount(
            window.mpReact.pages.NewEditNotePage,
            {
                initialNote: {{ note_json | safe }},
                urlSuccessRedirect: "{{ url('view_note', args=[note.id]) }}",
                urlSave: "{{ url('api_edit_note', args=[note.id]) }}",
                urlDelete: "{{ url('api_note_action', args=[note.id]) }}",
                urlDeleteRedirect: "{{ url('list_collection', args=[collection.id]) }}",
            },
            "EditNotePage"
        );
    </script>

{% endblock %}
