{% extends "base_internal.jinja.html" %}

{% block content %}

    <section>
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li class="is-active"><a href="#" aria-current="page">
                        <span style="margin-right: 5px;" class="icon"><i class="fas fa-home"></i></span>
                        Home
                    </a></li>
                </ul>
            </nav>

            <div class="columns">
                <div class="column">

                    <div style="margin-bottom:10px;">
                        <span id="NewCollectionButton"></span>
                    </div>

                    <table class="table is-fullwidth">
                        <thead>
                        <tr>
                            <th>Collection Name</th>
                            <th>Num. notes</th>
                            <th>Num. archived</th>
                            <th>Num. active</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for c in fm.collections %}
                            <tr>
                                <td>
                                     <a href="{{ url('list_collection', args=[c.id]) }}">
                                        {% if c.name %}
                                            {{ c.name }}
                                        {% else %}
                                            Untitled
                                        {% endif %}

                                    </a>
                                </td>
                                <td>{{ c.num_total }}</td>
                                <td>{{ c.num_archived }}</td>
                                <td>{{ c.num_active }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>


        </div>
    </section>

    <script>
        window.collectionActions.urlNewCollection = "{{ url('api_new_collection') }}";
        window.mpReact.mount(
            window.mpReact.components.NewCollectionButton,
            {},
            "NewCollectionButton"
        );
    </script>

{% endblock %}
