{% extends "base_internal.jinja.html" %}

{% block content %}

    <section>
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url('home') }}">Home</a></li>
                    <li><a href="{{ url('list_collection', args=[collection.id]) }}">{{ collection.name }}</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{{ note.name_or_untitled }}</a></li>
                </ul>
            </nav>

            <div class="columns" style="margin-bottom: 10px;">
                <div class="column" id="NoteViewer">

                </div>
            </div>
        </div>
    </section>

    <script>
        window.actions.urlNoteAction = '{{ url("api_note_action", args=[note.id]) }}';
        window.actions.urlListCollection = '{{ url("list_collection", args=[note.collection.id]) }}';
        window.actions.urlNoteEdit = '{{ url("edit_note", args=[note.id]) }}';

        window.mpReact.mount(
            window.mpReact.components.NoteViewer,
            {note: {{ note_json | safe }}},
            "NoteViewer"
        );
    </script>

{% endblock %}
