html {
    background: #ffffff;
    font-size: 12px;
}

nav {
    margin-bottom: 20px;
}

.table a {
    color: #005cbf;
}

@media (max-width: 1024px) {
    section {
        padding: 0 5px 0 5px;
    }
}

/* Navbar */

.Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    background-color: #e5e5e5;
}

.Nav input {
    max-width: 250px;
}

.Nav .form-inline {
    margin-bottom: 0;
}

.Nav > div {
    margin: 8px;
}

.Nav a {
    color: #282828;
}

div.Nav-Brand {
    margin-right: 15px;
}

.Nav-Grow {
    flex-grow: 1;
}

.NavIcon {
    margin-right: 5px !important;
}

@media (max-width: 800px) {
    .NavText {
        display: none;
    }
}